.DS_Store
node_modules
dist/app.controller.d.ts
dist/app.controller.js
dist/app.controller.js.map
dist/app.module.d.ts
dist/app.module.js
dist/app.module.js.map
dist/app.service.d.ts
dist/app.service.js
dist/app.service.js.map
dist/main.d.ts
dist/main.js
dist/main.js.map
dist/tsconfig.build.tsbuildinfo
dist/estudiante/estudiante.controller.d.ts
dist/estudiante/estudiante.controller.js
dist/estudiante/estudiante.controller.js.map
dist/estudiante/estudiante.module.d.ts
dist/estudiante/estudiante.module.js
dist/estudiante/estudiante.module.js.map
dist/estudiante/estudiante.service.d.ts
dist/estudiante/estudiante.service.js
dist/estudiante/estudiante.service.js.map
dist/estudiante/dto/create-estudiante.dto.d.ts
dist/estudiante/dto/create-estudiante.dto.js
dist/estudiante/dto/create-estudiante.dto.js.map
dist/estudiante/dto/update-estudiante.dto.d.ts
dist/estudiante/dto/update-estudiante.dto.js
dist/estudiante/dto/update-estudiante.dto.js.map
dist/estudiante/entities/estudiante.entity.d.ts
dist/estudiante/entities/estudiante.entity.js
dist/estudiante/entities/estudiante.entity.js.map
dist/vehiculo/vehiculo.controller.d.ts
dist/vehiculo/vehiculo.controller.js
dist/vehiculo/vehiculo.controller.js.map
dist/vehiculo/vehiculo.module.d.ts
dist/vehiculo/vehiculo.module.js
dist/vehiculo/vehiculo.module.js.map
dist/vehiculo/vehiculo.service.d.ts
dist/vehiculo/vehiculo.service.js
dist/vehiculo/vehiculo.service.js.map
dist/vehiculo/dto/create-vehiculo.dto.d.ts
dist/vehiculo/dto/create-vehiculo.dto.js
dist/vehiculo/dto/create-vehiculo.dto.js.map
dist/vehiculo/dto/update-vehiculo.dto.d.ts
dist/vehiculo/dto/update-vehiculo.dto.js
dist/vehiculo/dto/update-vehiculo.dto.js.map
dist/vehiculo/entities/vehiculo.entity.d.ts
dist/vehiculo/entities/vehiculo.entity.js
dist/vehiculo/entities/vehiculo.entity.js.map
